{% extends 'mailings/base.html' %}

{% block title %}Получатели рассылки{% endblock %}

{% block content %}
    {% include 'mailings/main_menu.html' %}

<div class="container">
    <div class="text-center">
        <a class="p-2 btn btn-primary btn-lg" href="{% url 'mailings:add_recipients' %}">Добавить получателя</a>
    </div>
    <h1 class="mt-4">Список получателей</h1>
    <div class="row">
        {% for recipient in recipients %}
                <div class="card h-100 d-flex flex-column">
                    <div class="card-body d-flex flex-column flex-grow-1">
                        <h5 class="card-title"><strong>{{ recipient.email }}</strong> - <em>{{ recipient.full_name }}</em></h5>
                        <div>
                            <a href="{% url 'mailings:recipient_detail' recipient.id %}" class="p-2 btn btn-primary btn-lg">Подробнее</a>
                            {% if recipient.owner == request.user or user.is_superuser %}
                                <a href="{% url 'recipients:recipient_update' recipient.id %}" class="p-2 btn btn-primary btn-lg">Редактировать</a>
                                <a href="{% url 'mailings:recipient_delete' recipient.id %}" class="p-2 btn btn-danger btn-lg">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <a class="p-2 btn btn-primary btn-lg mt-3" href="{% url 'mailings:home' %}">На главную</a>
</div>

{% endblock %}